excepciones/nbproject/private/private.xml
excepciones/build/classes/excepciones/PruebaExcep.class
excepciones/build/classes/excepciones/Uno.class

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

/hilos/nbproject/private/
/sincronizacion/nbproject/private/
/CruceDeAutos/nbproject/private/
/Semaforos/nbproject/private/
/Monitores/nbproject/private/